@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 2% 10%;
}
.orange {
    background-color: red;
}
.cyan {
    background-color: yellow;
}
.darkCyan {
    background-color: green;
}
.darkBlue {
    background-color: rgb(67, 67, 150);;
}
.white {
    color: hsla(0, 0%, 100%, 0.75);
}
.grey {
    background-color: #1A1C28;
}
.font {
    font-size: 16px;
}

.heading {
    font-family: 'Lexend Deca', sans-serif;
}
.subHeading {
    font-family: 'Big Shoulders Display', cursive;
}

/* main styling */
main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    
}
section {
    /* height: 100px; */
    padding: 100px;
    padding-top: 50px;
}
.sectionOne {
    grid-column: 1/ span 2;
}
.sectionThree {
    grid-column: 1/ span 2;
    grid-row: 2 / span 2; 
    /* width: 20px;  */
}

/* @media only screen and (max-width: 1182px) {
    section {
        padding: 45px 30px;
        padding-top: 50px;
    }
}
@media only screen and (max-width: 755px) {   
    main {
        display: block;
    } 
    section {
        height: 500px;
        margin-bottom: 20px;
        border-radius: 30px;
    }
}
@media only screen and (max-width: 375px) {
    main {
        display: block;
    } 
    section {
        height: 500px;
        margin-bottom: 20px;
        border-radius: 30px;
    }

} */